form{
    display: flex;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(237, 237, 223,0.5);
}
.principalTitle{
    display: flex;
    align-content: center;
    justify-content: center;
}
.form_left{
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
        padding: 10px;
}
.first-form{
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
        padding: 10px;
}
.form_right{
    width: 48%;
}
.separador{
    width: 90%;
	border: 1px solid black;
}
.title{
    font-size: 20px;
    font-weight: bold;
}
.powerSelect{
        height: 109px;
    width: 15%;
    margin-left: 10%;
}
label{
    font-size: 17px;
    font-weight: bold;
}

select{
    width: 20%;
    height: 40px;
    font-size: 18px;
        margin-bottom: 20px;
}
textarea{
    height: 80px;
    font-size: 18px;
        width: 75%;
}
h4{
    margin:0
}

.number{
    width: 20%;
    height: 20px;
    margin-bottom: 20px;
}
.labelName{
    font-size: 20px;
    font-weight: bold;
}
.productName{
    width: 40%;
    height: 29px;
    font-size: 18px;
    margin-bottom: 20px;
}

.fuente{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.fieldset{
        display: flex;
    gap: 10px;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 70%;
    justify-content: space-evenly; 
    align-items: center;   
}
.imageFieldset{
        display: flex;
    grid-gap: 10px;
    gap: 10px;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 70%;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    flex-direction: column;   
}
.Bluetooth:hover i{
    color: blue;
    background-color: white;
    font-size: 18px;
    border-radius: 90%;
    
    
}
.imagePreview{
    width: 40%;
}

.powerWrapper{
    display: flex;
}
.powerInfo{
        margin-left: 5px;
    border: 1px solid black;
    height: 30px;
    font-size: 17px;
    border-radius: 5px;
    padding: 7px;
    background-color: white;
    display: none;
    transition: 5s;

}

.powerWrapper:hover .powerInfo{
    display: block;
}

