form{
    display: flex;
    width: 100%;
    margin-top: 10px; 
     gap: 2%;
     background-color: rgba(255, 255, 245, 0.3);
}
.principalTitle{
    display: flex;
    align-content: center;
    justify-content: center;
}
.form_left{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
        padding: 10px;
        
        margin-bottom: 10px;
        
}
.first-form{
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
        padding: 10px;
}
.featuresWrapper{
    display: none;
}
.form_right{
    width: 45%;
    display: none;
    
    
}
.separador{
    width: 90%;
	border: 1px solid black;
}
.title{
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    
}

.title:hover{
    color: #ffde59;
}
.powerSelect{
        height: 109px;
    width: 15%;
    margin-left: 10%;
}
label{
    font-size: 17px;
    font-weight: bold;
}

select{
    width: 20%;
    height: 40px;
    font-size: 18px;
        margin-bottom: 20px;
}
textarea{
    height: 80px;
    font-size: 18px;
        width: 75%;
}
h4{
    margin:0
}

.number{
    width: 20%;
    height: 30px;
    margin-bottom: 20px;
}
.labelName{
    font-size: 20px;
    font-weight: bold;
}
.productName{
    width: 40%;
    height: 29px;
    font-size: 18px;
    margin-bottom: 20px;
}

.fuente{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.fieldset{
        display: flex;
    gap: 10px;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 70%;
    justify-content: space-evenly; 
    align-items: center;   
}
.imageFieldset{
        display: flex;
    grid-gap: 10px;
    gap: 10px;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 70%;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    flex-direction: column;
    transition: 5s;
}

.imagePreview{
    width: 40%;
}

.powerWrapper{
    display: flex;
}
.powerInfo{
        margin-left: 5px;
    border: 1px solid black;
    height: 30px;
    font-size: 17px;
    border-radius: 5px;
    padding: 7px;
    background-color: white;
    display: none;
    transition: 5s;

}
textarea{
    resize: none;
}

.powerWrapper:hover .powerInfo{
    display: block;
    border: 1px solid red;
}
.finish{
    width: 50%;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    transition: 0.5s;
}

.finish:hover{
    background-color: #ffde59;
    border: 1px solid green;
    color: black;
    box-shadow: 10px 5px 2px 2px black;
    width: 60%;
    height: 60px;
    font-size: 25px;
    
}
.sliderInfo{
    margin-left: 5px;
    border: 1px solid black;
    height: 30px;
    font-size: 17px;
    border-radius: 5px;
    padding: 7px;
    background-color: white;
    display: none;
    transition: 5s;
}
.sliderImage{
        display: flex;
    grid-gap: 10px;
    grid-gap: 10px;
    gap: 10px;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 70%;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-direction: row;
    transition: 5s;
}
.sliderImage:hover .sliderInfo{
    display: block;
    border: 1px solid red;
    font-size: 15px;
}


.errors{
    margin:0;
    color: red;
    font-size: 18px;
    font-weight: bold;
}
.firstButton{
    
    width: 30%;
    height: 40px;
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
    margin-top: 5%;
    margin-left: 40%;
}

.firstButton:hover {
    background-color: #ffde59;
    color:  black;
    border: 1px solid black;
    box-shadow: 10px 5px 2px 2px black;
    
}

.secondButton{
    display: none;
    width: 30%;
    height: 40px;
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
    margin-top: 5%;
    margin-left: 40%;
}

.secondButton:hover {
    background-color: #ffde59;
    color:  black;
    border: 1px solid black;
    box-shadow: 10px 5px 2px 2px black;
    
}
