.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	/* z-index: 99999; */
	opacity:1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	width: 100%;
	/* pointer-events: none; */
}

.modalDialog > div {
	display: flex;
	flex-direction: column;
	width: 60%;
	/* height: 650px; */
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
 	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}
.contentWrapper{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.imageContainer{
	width: 50%;
	display: flex;
	flex-direction: column;
	    align-items: center;
}
.infoContainer {
	width: 50%;
	border: 3px solid grey;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px ;
	padding-bottom: 10px;
	box-shadow: 5px 6px grey;
	height: 60vh;
	overflow-y: scroll;
/* 	-ms-overflow-style: none;  /* IE and Edge */
  /* scrollbar-width: none; */  /* Firefox */ 
}

/* .infoContainer::-webkit-scrollbar {
  display: none;
} */



.separador{
	border: 1px solid black;
}




.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 30px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 50%;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover {
     background: #ffde59;
     color: black;
    }

.productImg{
	width: 80%;
}

.buttonToWeb{
	width: 40%;
	height: 50px;
	background-color: red;
	border-radius: 5px;
	transition: 0.6s ease;
	margin-left: 55%;
}
.buttonToWeb a{
	font-size: 20px;
}

.buttonToWeb:hover{
	background-color: #06B814;
	
}
.feateuresWrapper{
	display: flex;
	width: 100%;
	    flex-wrap: wrap;
}
.feateuresWrapper p{
	
	width: 48%;
}
