.topInfoWrapper{
    display: flex;
    width: 100%;
    /* height: 300px; */
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 6px grey;
    
}
.topInfoTitle{
    display: flex;
    width: 100%;
    height: 60px;
    border: 1px solid black;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}
.lastProductData{
    display: flex;
    width: 100%;
    justify-content: center;
}
.moreInfoButton{
    width: 50%;
    height: 50px;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
    color: white;
    font-size: 15px;
    border: 1px solid white;

}
.lastData ul li {
    list-style: none;
    padding: 0;

}
.lastData{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}    