.topInfoWrapper{
    display: flex;
    width: 100%;
    /* height: 300px; */
    /* border: 1px solid black; */
    border-radius: 5px;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 6px grey;
    
}
.topInfoTitle{
    display: flex;
    width: 100%;
    height: 60px;
    /* border-bottom: 1px solid black; */
    align-content: center;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffde59;
}
.lastProductData{
    display: flex;
    width: 100%;
    justify-content: center;
}
.moreInfoButton{
    width: 50%;
    height: 50px;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
    color: white;
    font-size: 15px;
    border: 1px solid white;

}

.lastData ul {
    margin-top: 0;
}

.lastData ul li {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.lastData ul li h3 {
  margin-top:10px

}
.lastData{
    width: 45%;
    display: flex;
    flex-direction: column;

}
.modals-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.productImage{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid black;
    transition: 0.5s;
    
}

