.headerWrapper{
    display: flex;
    width: 100%;
    background-color: black;
    height: 90px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logoFocalGlow img{
    width: 30%;
    margin-left: 5px;
    margin-bottom: 5px;
}
.pageLinks ul {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.pageLinks ul li {
    list-style: none;
    color: white; 
    font-size: 1rem; 
    text-decoration: none;

}
a{
    text-decoration: none;
    color: white;
}